::-webkit-scrollbar{
	width:17px;
	background: #fafafa;
}
	::-webkit-scrollbar-thumb{
		background: rgba(192, 174, 126, 0.6);
	}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

body {
	font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0 auto;
	line-height: 1.7em;
	color: #333;
}

.float-right{
	float: right;
}

.show-block{
	display: block;
}
.hide{
	display: none !important;
}
.opacity-zero{
	opacity: 0 !important;
}
.opacity-one{
	opacity: 1;
}

.learning-centre-btn{
	opacity: 1;
	transition: 1s;
	padding: 8px 12px !important;
	border: 1px solid #eee !important;
	background: #fafafa;
	color: #aaa !important;
	font-size: 0.8em;
	font-weight: 600;
	line-height: 1.4 !important;
	border-radius: 3px;
	margin: 3px 19px 0 0;
}
	.learning-centre-btn:hover{
		color: rgb(56, 56, 213) !important;
		background: #fff;
		border: 1px solid rgb(120, 120, 195) !important;
	}

.fifty{
	width: 50%;
}
.l-box {
	padding: 1em;
}
	.l-box h3{
		color: #4D4842;
	}

.header {
	margin: 0 0;
}
	.header-bg{
		position: absolute;
		background: #2c2c2c;
		height: 811px;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -2;
	}

	.header .pure-menu {
		padding: 0.5em;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmYzE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWQ5YWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(207,193,154,1) 0%, rgba(234,217,175,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,193,154,1)), color-stop(100%,rgba(234,217,175,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(207,193,154,1) 0%,rgba(234,217,175,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(207,193,154,1) 0%,rgba(234,217,175,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(207,193,154,1) 0%,rgba(234,217,175,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(207,193,154,1) 0%,rgba(234,217,175,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc19a', endColorstr='#ead9af',GradientType=0 ); /* IE6-8 */
	}

		.header .pure-menu li a:hover,
		.header .pure-menu li a:focus {
			background: none;
			border: none;
			color: #aaa;
		}
		.pure-menu-heading{
			font-weight: bold;
			padding: 9px 20px 0 !important;
		}
		.pure-menu .pure-menu-heading{
			color: #fff;
		}
		.pure-menu.pure-menu-open.pure-menu-fixed{
			height: 100%;
			transition: 1s;
			border: 0;
			z-index: -1;
		}

body .primary-button {
	background: #02a6eb;
	color: #fff;
}

.center{
	text-align: center;
	margin: auto;
}

.video-ribbon{
}
	.video-ribbon-embed{
		margin-bottom: -7px;
	}
	.twitter-timeline{
		width: 100%;
		height: 363px;
	}
	.stripe-222{
		border-bottom: 33px solid #222 !important;
	}
	.stripe-111{
		border-bottom: 33px solid #111 !important;
	}
	.stripe-blue{
		border-bottom: 33px solid rgba(37, 157, 207, 0.2) !important;
	}


/*
.parallax {
	z-index:-1;
	position: absolute;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
*/

.splash {
	margin: 1em auto 0;
	padding: 3em 0.5em 1.3em;
	max-width: 628px;
	/* background: #CFC19A; /*
	background: rgb(207,193,154); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmYzE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWQ5YWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(207,193,154,1) 0%, rgba(234,217,175,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,193,154,1)), color-stop(100%,rgba(234,217,175,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(207,193,154,1) 0%,rgba(234,217,175,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(207,193,154,1) 0%,rgba(234,217,175,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(207,193,154,1) 0%,rgba(234,217,175,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(207,193,154,1) 0%,rgba(234,217,175,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfc19a', endColorstr='#ead9af',GradientType=0 ); /* IE6-8 */

	text-align: center;
}
	.splash .splash-head {
		color: #fff;
		font-size: 300%;
		margin: 0em 0;
		line-height: 1.2em;
	}
	.splash .splash-subhead {
		color: #fff;
		font-weight: 300;
		line-height: 1.4em;
		padding: 0 23px;
		font-size: 26px;
	}
	.splash .primary-button {
		opacity: 0.7;
		background: #38C4FF; 
		transition: 1s;
		font-size: 150%;
		margin-top: 17px;

		/* splash button alternate "clear-style"
		background: transparent;
		color: #fff;
		border: 3px solid #fafafa;
		*/
		border-radius: 3px;
	}
		.splash .primary-button:hover{
			background: #fafafa;
			color: #C09729;
			opacity: 1;
		}

.splash-bg{
	position: absolute;
	opacity: 0.1;
	height: 811px;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	background: url(https://googledrive.com/host/0B9LVk4xbDIJTNnJiQjdzejRuQm8/code-Screenshot-004.png) no-repeat;
}
.content{
	padding: 77px 0 0;
}
	.content .content-subhead {
		color: #C09729; 
		padding-bottom: 0.3em;
		text-transform: uppercase;
		margin: 0;
		border-bottom: 2px solid #CFC19A;
		display: inline-block;
	}
	.what-is-docpad{
		color: #777;
		font-size: 15px;
	}
	.content .content-ribbon {
		width: 55%;
		margin: 3em auto;
		background: #fafafa;
		border-bottom: 33px solid rgba(207, 193, 154, 0.34);
		border-bottom-left-radius: 13px;
		border-bottom-right-radius: 13px;
	}

.ribbon {
	background: #eee;
	text-align: center;
	padding: 2em;
	color: #999;
}
	.ribbon h2 {
		display: inline;
		font-weight: normal;
	}

.footer {
	background: #111;
	color: #666;
	text-align: center;
	padding: 1em;
	font-size: 80%;
}

@media screen and (max-width: 960px){
	.header .pure-menu{
		background: #fff;
	}
	.splash-text{ 
		margin: 2.2em 0 0; 
	}
		.splash .splash-subhead{
			font-size: 22px;
			line-height: 1.2em;
			padding: 0 1em;
		}
	.video-ribbon{
		overflow: hidden;
	}
	.l-box{
		padding: 1em 0;
	}
	.fifty{
		width: 100%;
	}
	.content{
		padding: 0;
	}
	.learning-centre-btn{
		opacity: 1 !important; 
	}
}