<div class="pure-u-1 plugin-imgs auto">
	<ul>
		<span class="collapse in">
			<li><a target="_blank" class="browserify" href="https://www.npmjs.org/package/docpad-plugin-browserify"> </a></li>
			<li><a target="_blank" class="chrome" href="https://www.npmjs.org/package/docpad-plugin-chrometimeline"> </a></li>
			<li><a target="_blank" class="analytics" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="drive" href="https://www.npmjs.org/package/docpad-plugin-gdocs"> </a></li>
			<li><a target="_blank" class="tumblr" href="https://www.npmjs.org/package/docpad-plugin-tumblr"> </a></li>
			<li><a target="_blank" class="jade" href="https://github.com/docpad/docpad-plugin-jade"> </a></li>
			<li><a target="_blank" class="coffee" href="https://www.npmjs.org/package/docpad-plugin-coffee"> </a></li>
			<li><a target="_blank" class="eco" href="https://www.npmjs.org/package/docpad-plugin-eco"> </a></li>
			<li><a target="_blank" class="facebook" href="https://www.npmjs.org/package/docpad-plugin-facebookcomments"> </a></li>
			<li><a target="_blank" class="twitter" href="https://github.com/docpad/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="addthis" href="https://www.npmjs.org/package/docpad-plugin-addthis"> </a></li>
			<li><a target="_blank" class="grunt" href="https://www.npmjs.org/package/docpad-plugin-grunt"> </a></li>
			<li><a target="_blank" class="yeoman" href="https://github.com/RobLoach/generator-docpad"> </a></li>
			<li><a target="_blank" class="bower" href="https://www.npmjs.org/package/docpad-plugin-bowermount"> </a></li>
			<li><a target="_blank" class="handlebars" href="https://www.npmjs.org/package/docpad-plugin-handlebars"> </a></li>
			<li><a target="_blank" class="hapi" href="https://www.npmjs.org/package/docpad-plugin-hapi"> </a></li>
			<li><a target="_blank" class="aloha" href="https://www.npmjs.org/package/docpad-plugin-aloha"> </a></li>
			<li><a target="_blank" class="bem" href="https://www.npmjs.org/package/docpad-plugin-bem"> </a></li>
			<li><a target="_blank" class="persona" href="https://www.npmjs.org/package/docpad-plugin-persona"> </a></li>
			<li class="pure-u-1 more-plugins-li"><a class="more-plugins" data-toggle="collapse" data-target="#more-plugins"><sub> more plugins </sub></a></li>
		</span>
		<span id="more-plugins" class="collapse">
			<li class="stylus-li"><a target="_blank" class="stylus" href="https://www.npmjs.org/package/docpad-plugin-stylus"> </a></li>
			<li><a target="_blank" class="beautify" href="https://www.npmjs.org/package/docpad-plugin-beautify"> </a></li>
			<li><a target="_blank" class="ect" href="https://www.npmjs.org/package/docpad-plugin-ect"> </a></li>
			<li><a target="_blank" class="fest" href="https://www.npmjs.org/package/docpad-plugin-fest"> </a></li>
			<li><a target="_blank" class="quora" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="github" href="https://www.npmjs.org/package/docpad-plugin-ghpages"> </a></li>
			<li><a target="_blank" class="gplus" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="hacker-news" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="inspectlet" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="paypal" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="disqus" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="gemfury" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="gauges" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="reddit" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="debate" href="https://www.npmjs.org/package/docpad-plugin-intensedebate"> </a></li>
			<li><a target="_blank" class="less" href="https://www.npmjs.org/package/docpad-plugin-less"> </a></li>
			<li><a target="_blank" class="markdown" href="https://www.npmjs.org/package/docpad-plugin-markdown"> </a></li>
			<li><a target="_blank" class="travis" href="https://github.com/docpad/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="reinvigorate" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="zopim" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="gittip" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="growl" href="https://www.npmjs.org/package/docpad-plugin-growl"> </a></li>
			<li><a target="_blank" class="mixpanel" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li><a target="_blank" class="flattr" href="https://www.npmjs.org/package/docpad-plugin-services"> </a></li>
			<li class="pure-u-1"><a target="_blank" href="https://www.npmjs.org/browse/keyword/docpad-plugin"><sub> even more </sub></a></li>
		</span>
	</ul>
</div>